<form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
  <label class="label" for="">Ім'я *</label>
  <input formControlName="name"
         [ngClass]="{'input_text--error': submited && this.form.controls.name.status === 'INVALID'}"
         class="input_text"
         type="text"
         name="name"
         placeholder="Павло Іванович">
  <div *ngIf="submited && this.form.controls.name.status === 'INVALID'" class="form_errors-c">
    <app-error-message
         *ngIf="this.form.controls.name.errors.required"
         message="{{ ERRORS.ERROR_MESSAGE_FOR_REQUIRED_FIELD }}"></app-error-message>
    <app-error-message
         *ngIf="this.form.controls.name.errors.pattern"
         message="{{ ERRORS.ERROR_MESSAGE_FOR_INVALID_MENTOR_NAME }}"></app-error-message>
    <app-error-message
         *ngIf="this.form.controls.name.errors.minlength"
         message="{{ ERRORS.ERROR_MESSAGE_FOR_SO_SHORT_MENTOR_NAME }}"></app-error-message>
    <app-error-message
         *ngIf="this.form.controls.name.errors.maxlength "
         message="{{ ERRORS.ERROR_MESSAGE_FOR_SO_LONG_MENTOR_NAME }}"></app-error-message>
  </div>

  <label class="label" for="">E-mail *</label>
  <input formControlName="email"
         [ngClass]="{'input_text--error': submited && this.form.controls.email.errors}"
         class="input_text"
         type="email"
         name="email"
         placeholder="pavloivanovich@mail.com">
  <div *ngIf="submited && this.form.controls.email.status === 'INVALID'" class="form_errors-c">
    <app-error-message
         *ngIf="this.form.controls.email.errors.required"
         message="{{ ERRORS.ERROR_MESSAGE_FOR_REQUIRED_FIELD }}"></app-error-message>
    <app-error-message
         *ngIf="this.form.controls.email.errors.email"
         message="{{ ERRORS.ERROR_MESSAGE_FOR_INVALID_EMAIL }}"></app-error-message>
  </div>

  <label class="label" for="">Пароль *</label>
  <input formControlName="password"
         [ngClass]="{'input_text--error': submited && this.form.controls.password.status === 'INVALID'}"
         class="input_text"
         type="text"
         placeholder="Пароль">
  <div *ngIf="submited && this.form.controls.password.status === 'INVALID'"
       class="form_errors-c">
    <app-error-message
        *ngIf="this.form.controls.password.errors.required"
        message="{{ ERRORS.ERROR_MESSAGE_FOR_REQUIRED_FIELD }}"></app-error-message>
    <app-error-message
        *ngIf="this.form.controls.password.errors.pattern"
        message="{{ ERRORS.ERROR_MASSAGE_FOR_INVALID_PASSWORD }}"></app-error-message>
    <app-error-message
        *ngIf="this.form.controls.password.errors.minlength"
        message="{{ ERRORS.ERROR_MESSAGE_FOR_SO_SHOT_PASSWORD }}"></app-error-message>
    <app-error-message
        *ngIf="this.form.controls.password.errors.maxlength"
        message="{{ ERRORS.ERROR_MESSAGE_FOR_SO_LONG_PASSWORD }}"></app-error-message>
  </div>

  <label class="label" for="">Повторіть пароль *</label>
  <input formControlName="confirmPassword"
         [ngClass]="{'input_text--error': submited && this.form.controls.confirmPassword.errors !== null}"
         class="input_text"
         type="text"
         placeholder="Повторiть пароль">
  <div *ngIf="submited && this.form.controls.confirmPassword.errors !== null">
    <app-error-message
         *ngIf="this.form.controls.confirmPassword.errors.required"
         message="{{ ERRORS.ERROR_MESSAGE_FOR_REQUIRED_FIELD }}"></app-error-message>
    <app-error-message
         *ngIf="this.form.controls.confirmPassword.errors.confirmPasswordValidation"
         message="{{ ERRORS.ERROR_MASSAGE_FOR_NO_EQUALS_PASSWORDS }}"></app-error-message>
  </div>

  <button class="btn--submit" type="submit">Зареєструватися</button>
</form>
