<main>
  <nav>sub menu here</nav>
  <nav style="background-color: #fff; position: fixed">
    <ul>
      <li><a routerLink="new-question">
        <img src="../../../../../assets/add-question-icon.png" alt="link for add new question">
      </a></li>
      <li>
        <a routerLink="new/folder">
          <img class="add-icon" src="../../../../../../assets/add-folder-icon.png" alt="add folder icon">
        </a>
      </li>
      <!-- <li>
        <a routerLink="/home/new-test">
          <img class="add-icon" src="../../../../../../assets/add-test-icon.png" alt="add test icon">
        </a>
      </li> -->
    </ul>
  </nav>
  <section>
    <!-- router-outlet for show new folder form -->
    <router-outlet></router-outlet>
    <app-folder-files-list></app-folder-files-list>
  </section>
</main>
