$common_margin: 2vh
$pad_top_and_bottom: .5em
$pad_right_and_left: 1em
$common_border_radius: 100px
$button_height: 3rem
$border-error: 0 solid $red

$error_shadow: #ffdae0

@mixin error-styling()
  // background: 
  // border: 1px solid $red
  box-shadow: inset -5px -5px 15px rgb(255 211 217), inset 5px 5px 10px rgb(255 143 144)
  // background: -moz-linear-gradient(134deg, rgba(255,218,224,1) 0%, rgba(255,134,134,1) 100%)
  // background: -webkit-linear-gradient(134deg, rgba(255,218,224,1) 0%, rgba(255,134,134,1) 100%)
  // background: linear-gradient(134deg, rgba(255,218,224,1) 0%, rgba(255,134,134,1) 100%)
  // filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffdae0",endColorstr="#ff8686",GradientType=1)
  
  

.form
  width: 100%
  margin: 0 auto
  &__container
    margin-top: 3em
    margin-right: auto
    margin-left: auto
    width: 70%
    display: flex
    align-items: baseline
    flex-wrap: wrap
    justify-content: space-between
    &_input
      height: 1.5rem
      padding: 0.1em 1.2em
      width: calc(100% - 2 * 1em - 4px)
      border: 1px solid #e1e6ea
      border-radius: $common_border_radius
      background: linear-gradient(134.17deg, #EEF1F5 4.98%, #E6E9EF 94.88%)
      box-shadow: inset -5px -5px 15px rgba(255, 255, 255, 0.75), inset 5px 5px 10px rgba(166, 180, 200, 0.75)
      border-radius: 40px
      &--error
        @include error-styling()
      &:active, &:focus, &:hover
        border-color: $white
    &_label
      display: block
      margin-top: calc(2 * #{$common_margin})
      margin-bottom: $common_margin
      margin-right: $common_margin
  &__button-submit
    margin: 4vh auto
    padding: 1em 3.5em
    display: block
    border-radius: $common_border_radius
    border: none
    background-color: $green
    align-self: center
    background: linear-gradient(134.17deg, #b8f0cb 4.98%, #b4ffcd 94.88%)
    box-shadow: -12px -12px 20px #ffffffcc, 10px 10px 20px #a6b4c8b3
    border-radius: 40px
    &:hover
      background-color: $blue
    &:disabled
      background: linear-gradient(134.17deg, #EEF1F5 4.98%, #E6E9EF 94.88%)
    &:focus
      border: 2px solid $gray

.input_wrapper__visibility
  display: block
  margin: 0 auto
  border: none
  padding: 0.7em 3em
  border-bottom-left-radius: 100px
  border-bottom-right-radius: 100px
  color: $blue
  background: linear-gradient(134.17deg, #EEF0F5 4.98%, #E6E9EF 94.88%)
  box-shadow: -2px -2px 5px #ffffffcc, 2px 2px 5px #a6b4c8b3
  &:active
    box-shadow: inset -2px -2px 5px #ffffffcc, inset 2px 2px 5px #a6b4c8b3
    background: linear-gradient(134.17deg, #EEF1F5 4.98%, #E6E9EF 94.88%)
  &:hover
    box-shadow: -2px -2px 10px #ffffffcc, 2px 2px 10px #a6b4c8b3

@media (min-width: 0px) and (max-width: 755px)
  .form
    width: 100%
  .input_wrapper
    width: 100%
  .form__container
    margin-top: 0
    width: 100%
  .form__container_input
    height: 1.5rem
    border-width: 2px
    // &--error
    //   border: $border-error !important
  .form__button-submit
    padding: .7em 3.5em
@media (min-width: 756px) and (max-width: 1007px)
  .form
    width: 90%
  .input_wrapper
    width: 100%
  .form__container
    margin-top: 0
    width: 100%
  .form__container_input
    height: 2rem
    border: 2px solid $blue
    // &--error
    //   border: $border-error!important
  .form__button-submit
    padding: .8em 3.5em
@media (min-width: 1008px) and (max-width: 1259px)
  .input_wrapper
    width: 100%
  .form__container_label
    margin-top: 0
    margin-bottom: 1vh
  .form__container_input
    height: 2.5rem
  .form__button-submit
    margin-top: 3vh
    margin-bottom: 2vh
    padding: .9em 3.5em
@media (min-width: 1260px) and (max-width: 1511px)
  .input_wrapper
    width: 100%
  .form__container_input
    height: 3rem
@media (min-width: 1512px) and (max-width: 1763px)
  .input_wrapper
    width: 60%
  .form__container_input
    height: 3.5rem
@media (min-width: 1764px) and (max-width: 2015px)
  .input_wrapper
    width: 60%
  .form__container_input
    height: 4rem
@media (min-width: 2016px) and (max-width: 2267px)
  .form
    width: 50rem
  .input_wrapper
    width: 60%
  .form__container_input
    height: 4.5rem
@media (min-width: 2268px) and (max-width: 5119px)
  .form
    width: 50rem
  .input_wrapper
    width: 76%
  .form__container
    width: 100%
  .form__container_input
    height: 5rem
@media (min-width: 5120px)
  .form
    width: 60%
  .form__container
    width: 76%
  .input_wrapper
    width: 70%
  .form__container_input
    height: 5rem
