$common_margin: 2vh
$pad_top_and_bottom: .5em
$pad_right_and_left: 1em
$common_border_radius: 100px
$button_height: 3rem

.form
  width: 100%
  margin: 0 auto
  &__container
    margin-top: 3em
    margin-right: auto
    margin-left: auto
    width: 70%
    display: flex
    align-items: baseline
    flex-wrap: wrap
    justify-content: space-between
    &_input
      height: 1.5rem
      padding: 0.1em 1.2em
      width: calc(100% - 2 * 1em - 4px)
      border: 3px solid $blue
      border-radius: $common_border_radius
      &--error
        border: 3px solid $red
      &:active, &:focus
        border-color: $green
    &_label
      display: block
      margin-top: calc(2 * #{$common_margin})
      margin-bottom: $common_margin
      margin-right: $common_margin
  &__button-submit
    margin: 4vh auto
    padding: 1em 3.5em
    display: block
    border-radius: $common_border_radius
    border: none
    background-color: $green
    align-self: center
    border: 2px solid $green
    &:hover
      background-color: $blue
    &:disabled
      background-color: $gray
    &:focus
      border: 2px solid $gray

.input_wrapper__visibility
  display: block
  margin: 0 auto
  border: none
  padding: .3em 1.5em
  border-bottom-left-radius: 100px
  border-bottom-right-radius: 100px
  border-bottom: 2px solid $blue
  color: $blue
  background-color: $white
  &:hover
    margin-bottom: 0
    box-shadow: $blue 0px -1px 15px -6px inset

@media (min-width: 0px) and (max-width: 755px)
  .form
    width: 100%
  .input_wrapper
    width: 100%
  .form__container
    margin-top: 0
    width: 100%
  .form__container_input
    height: 1.5rem
    border-width: 2px
    &--error
      border: 2px solid $red !important
  .form__button-submit
    padding: .7em 3.5em
@media (min-width: 756px) and (max-width: 1007px)
  .form
    width: 90%
  .input_wrapper
    width: 100%
  .form__container
    margin-top: 0
    width: 100%
  .form__container_input
    height: 2rem
    border: 2px solid $blue
    &--error
      border: 2px solid $red !important
  .form__button-submit
    padding: .8em 3.5em
@media (min-width: 1008px) and (max-width: 1259px)
  .input_wrapper
    width: 100%
  .form__container_label
    margin-top: 0
    margin-bottom: 1vh
  .form__container_input
    height: 2.5rem
  .form__button-submit
    margin-top: 3vh
    margin-bottom: 2vh
    padding: .9em 3.5em
@media (min-width: 1260px) and (max-width: 1511px)
  .input_wrapper
    width: 100%
  .form__container_input
    height: 3rem
@media (min-width: 1512px) and (max-width: 1763px)
  .input_wrapper
    width: 60%
  .form__container_input
    height: 3.5rem
@media (min-width: 1764px) and (max-width: 2015px)
  .input_wrapper
    width: 60%
  .form__container_input
    height: 4rem
@media (min-width: 2016px) and (max-width: 2267px)
  .form
    width: 50rem
  .input_wrapper
    width: 60%
  .form__container_input
    height: 4.5rem
@media (min-width: 2268px) and (max-width: 5119px)
  .form
    width: 50rem
  .input_wrapper
    width: 76%
  .form__container
    width: 100%
  .form__container_input
    height: 5rem
@media (min-width: 5120px)
  .form
    width: 60%
  .form__container
    width: 76%
  .input_wrapper
    width: 70%
  .form__container_input
    height: 5rem
