<section [formGroup]="answersForm">
  <div class="flex-row">
    <div class="flex">
      <div for="" *ngFor="let answer of answersControls">
        <input (click)="this.setTrueAnswer(answer.controls.id.value)" class="d-block" type="radio" name="idTrueAnswer" [value]="answer.controls.id.value" formControlName="idTrueAnswer" required>
      </div>
    </div>
    <div class="flex" formArrayName="answersArray">
      <div *ngFor="let answer of answers.controls; let id = index">
        <div [formGroupName]="id">
          <input type="text"
                 value="{{ name }}"
                 formControlName="name">
          <button
              type="button"
              *ngIf="answers.length >= 3"
              (click)="this.removeAnswer(id)">x</button>
        </div>
      </div>
    </div>
  </div>
  <button id="plusButton"
    class="button"
    type="button"
    (click)="this.addAnswer('', false)">+</button>
</section>
