<header class="page__header" id="page_header">
  <a class="header_link--logo" routerLink="/">
    <img class="logo" src="../../../../assets/logo.png" alt="logo">
  </a>
  <button 
    (click)="changeMenuVisibility()"
    class="btn--header"
    type="button">>></button>
  <ul class="header_menu" id="header_menu">
    <li (click)="closeMenu()"><a class="header_link--text" routerLink="/help">Допомога</a></li>
    <li (click)="closeMenu()"><a  class="header_link--text" routerLink="/auth/login">Вхід</a></li>
    <li (click)="closeMenu()"><a  class="header_link--text" routerLink="/auth/register">Реєстрація</a></li>
  </ul>
</header>
