@import '../../../../styles'
  
.page__header
  display: flex
  flex-wrap: wrap
  align-items: center
  justify-content: space-between
  @media (min-width: 0px) and (max-width: 755px) 
    width: calc(100% - (1rem * 2))
    padding: 0.4rem 1rem
    // justify-content: center
  @media (min-width: 756px) and (max-width: 1007px)  
    width: calc(100% - (1.4rem * 2))
    padding: 2rem 1.4rem
  // @media (min-width: 1008px) and (max-width: 1259px) 
  //   width: calc( 100% - (3rem * 2) )
  //   padding: .5em 3em
  // @media (min-width: 1260px) and (max-width: 1511px) 
  //   width: calc( 100% - (3rem * 2) )
  //   padding: .5em 3em
  // @media (min-width: 1512px) and (max-width: 1763px)
  //   width: calc( 100% - (3rem * 2) )
  //   padding: .5em 3em
  // @media (min-width: 1764px) and (max-width: 2015px)
  //   width: calc( 100% - (3rem * 2) )
  //   padding: .5em 3em
  // @media (min-width: 2016px) and (max-width: 2267px)
  //   width: calc( 100% - (3rem * 2) )
  //   padding: .5em 3em
  // @media (min-width: 2268px)
  //   width: calc( 100% - (3rem * 2) )
  //   padding: .5em 3em

.header_menu
  display: flex
  align-items: center
  justify-content: space-between
  @media (min-width: 0px) and (max-width: 755px) 
    width: 100%
    display: none
    position: absolute
    left: 0
    flex-direction: column
    align-items: flex-end
    margin-top: 14rem
    padding-top: 2rem
    padding-bottom: 2rem
    background-color: $text-color
    // z-index: -1
  @media (min-width: 756px) and (max-width: 1007px)  
    width: 87%

.header_link--logo
  display: block

.logo
  display: block
  height: 3.5rem

.btn
  &--header
    display: block
    border: none
    background-color: $text-color
    transform: rotate(0.25turn)
    padding: 1rem 1.5rem
    border-radius: 0 50px 50px 0
    margin-top: -1rem
    margin-right: -0.3rem
    // typography
    color: #F9FCFB
    font-size: 21px
    &:focus
      outline: none
    &:hover
      background-color: #333
.header_link--text
  color: $blue
  margin: 1em 0rem
  display: block
  text-decoration: none
  @media (min-width: 0px) and (max-width: 755px) 
    margin-right: 1rem
