@import './common'

// _ - block
// __ - element
// -- - modifier

$element-radius: 100px

// for iPhone X
.input
  @extend .text
  display: block
  padding: 0.95rem 1.7em
  width: calc(100% - 1.7em*2)
  &:focus
    border-color: $text-color
    outline: none
  &::placeholder
    color: #333
  &_text
    @extend .input
    border: 2px solid $blue
    border-radius: $element-radius
    &--error
      border: 2px solid $red

.label
  @extend .text
  margin-left: 0.6em
  margin-top: 1rem
  margin-bottom: .5rem
  display: block

.btn
  font-size: 16px
  line-height: 18px
  display: block
  &--submit
    display: block
    width: 100%
    padding: .7em 0
    margin-right: auto
    margin-left: auto 
    margin-top: 1rem
    background-color: $blue
    border-radius: $element-radius
    border: none
    // typpografy
    color: #FFF
    font-size: 16px
    line-height: 18px
    font-weight: 400
    letter-spacing: 0.05em


.form
  margin: 0 auto
  width: 62%