<form (ngSubmit)="onSubmit()" [formGroup]="form">
  <label for="name">Name *</label>
  <div>
    <input type="text" formControlName="name">
    <!-- <app-input-text formControlName="name"></app-input-text> control name does not work -->
  </div>
  <label for="question">Text question *</label>
  <textarea name="question" id="question" cols="30" rows="10" formControlName="text"></textarea>
  <label for="">Choose type *</label>
  <select name="type" id="type" formControlName="template" (change)="changeTemplate()">
    <option
      *ngFor="let template of templates"
      value="{{ template.name }}">{{ template.name }}</option>
  </select>
  <app-creating-answers-list-form></app-creating-answers-list-form>
  <button type="submit">submit</button>
</form>
